.git
.gitignore
.gitattributes

README.md
*.md

frontend/node_modules
frontend/dist

*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out

logs/
backend/logs/
*.log

.vscode
.idea
*.swp
*.swo
*~

.DS_Store
Thumbs.db

Dockerfile
.dockerignore
docker-compose.yml

.github

.env
.env.local
.env.*.local

frontend/.vite
frontend/dist
backend/travel_planner_server
